<form>
  <input type="text" ng-init='name' ng-model='name'>
  <label> your name</label>


  <input type="text" ng-model='age' ng-init='age'>
  <label> your age</label>


  <input type="text" ng-model='kids' ng-init='kids'>
  <label> how many kids you have</label>


  <input type="text" ng-model='state' ng-init='state'>
  <label> State you're from</label>


  <input type="text" ng-model='cat' ng-init='cat'>
  <label> number of cats</label>


  <input type="text" ng-model='word' ng-init='word'>
  <label> favorite word</label>


  <input type="text" ng-model='pos' ng-init='pos'>
  <label> part of speech</label>

  <button type="button" ng-click="addValues()"> submit </button>

</form>
